<div class="indexCate">
<p>
  <strong>ID:</strong>
  <%= @rec_category.rec_categoryId %>
</p>

<p>
  <strong>NAME:</strong>
  <%= @rec_category.name %>
</p>
<%= link_to 'Edit', edit_admin_rec_category_path(@rec_category), :class => 'newCate' %> | 
<%= link_to 'Back', admin_rec_category_index_path, :class => 'newCate' %>
</div>
