<!DOCTYPE html>
<html>
<head>
<title>Bootstrap Icons</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="sticky">
<i class="glyphicon glyphicon-magnet" style="font-size:60px;color:lightgreen;text-shadow:2px 2px 4px #000000;margin: 10px"></i>
<div class="logo-name character-1">Food</div><div class="logo-name character-2">Is</div><div class="logo-name character-3">Life</div>
</div>
<div class="main">
  <h4>Main Stats</h4>
  <div class="box-view-visit">Visit</div>
  <div class="box-view-visit-all">Visit</div>
  <div class="box-view-signup">Visit</div>
  <div class="box-view-signup-all">Visit</div>
  <div class="box-view-recipe">Visit</div>
  <div class="box-view-recipe-all">Visit</div>
</div>
<div class="menu">
  <div class="box-profile">Profile</div>
  <div class="box-category">Category</div>
  <div class="box-users">Users</div>
  <div class="box-recipes">Recipes</div>
  <div class="box-ingredients">Ingredients</div>
 
</div>
</body>
</html>
