<!DOCTYPE html>
<html>
<head>
<title>Bootstrap Icons</title>

<body>

<div class="sticky">
<div class="logo-name character-1">Food</div><div class="logo-name character-2">Is</div><div class="logo-name character-3">Life</div>
</div>
<div class="main">
  <h4>Main Stats</h4>
  <div class="box-view-visit">Visit</div>
  
</div>
<div class="menu">
  <div class="box-category">Category</div>
  <div class="box-users">Users</div>
  <div class="box-recipes">Recipes</div>
  <div class="box-ingredients">Ingredients</div>
 
</div>
</body>
</html>
