<div id="nav">
  <div class="menu">
  <ul style="list-style-type: none;">
    <li><a class="userBtn" href="http://localhost:3000/admin/user">Users</a></li>
    <li><a class="categoryBtn" href="http://localhost:3000/admin/category">Categories</a></li>
    <li><a class="ingredientBtn" href="http://localhost:3000/admin/ingredient">Ingredients</a></li>
    <li><a class="recipeBtn" href="http://localhost:3000/admin/recipe">Recipes</a></li>
  </ul>
  </div>
</div
