<div id="nav">
  <div class="menu">
  <ul style="list-style-type: none;">
    <li><a class="userBtn" href="#user">Users</a></li>
    <li><a class="categoryBtn" href="#category">Categories</a></li>
    <li><a class="ingredientBtn" href="#ingredient">Ingredients</a></li>
    <li><a class="recipeBtn" href="#recipe">Recipes</a></li>
  </ul>
  </div>
  <div>
    <div class="content" id="user">
      <h1>Users</h1>
    </div>
    <div class="content" id="category">
      <h1>Categories</h1>
    </div>
    <div class="content" id="ingredient">
      <h1>Ingredients</h1>
    </div>
    <div class="content" id="recipe">
      <h1>Recipes</h1>
    </div>
  </div>
</div
