<div class="indexCate">
<p>
  <strong>ID:</strong>
  <%= @category.categoryId %>
</p>

<p>
  <strong>NAME:</strong>
  <%= @category.name %>
</p>
<%= link_to 'Edit', edit_admin_category_path(@category), :class => 'newCate' %> | 
<%= link_to 'Back', admin_category_index_path, :class => 'newCate' %>
</div>
