
<p>
<strong>Email:</strong>
<%= @user.email %>
</p>
<p>
<strong>Username:</strong>
<%= @user.user_name %>
</p>
<p>
<strong>Passsword:</strong>
<%= @user.password %>
</p>

<%= link_to 'Back', user_index_path %>