<h3>Search Result</h3> 

  <% @results.each do |result| %>
    <%= result.id %><br>
    <%= result.name %><br>
    <% if result.image.thumb.url %>
      <%= image_tag result.image.thumb.url %>
    <% else %>
      <%= image_tag asset_path("thumb_default.jpg")%>
    <% end %>
  <% end %>