body {
  margin: 0;
  background-color: #d8e5f1;
}

.menu {
  float: left;
  width: 80%;
  position: absolute;
  top: 17%;
  left: 45%;
  margin-bottom: 10%;
  margin-left: -36%;
  height: 60%;
  text-align: center;
}

.menu a {
  display: block;
  background-color: #2b59a2;
  padding: 22px 16px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  font-size: 80px;
  font-family: 'Aleo';
  color: rgb(255, 255, 255);

}

.menu a:hover {
  opacity: 0.7;
}

.content {
  float: right;
  right: 0;
  position: absolute;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  height: 100%;
}

.ub {
  position: absolute;
  top: 8px;
  left: 16px;
  height: 25%;
  width: 40%;
}

.cb {
  position: absolute;
  top: 8px;
  right: 16px;
  height: 25%;
  width: 40%;
}

.ib {
  position: absolute;
  bottom: 8px;
  left: 16px;
  height: 25%;
  width: 40%;
  margin-bottom: 60px;
}

.rb {
  position: absolute;
  bottom: 8px;
  right: 16px;
  height: 25%;
  width: 40%;
  margin-bottom: 60px;
}

.header {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #2b59a2;
  margin-bottom: 100px;
  left: 0px;
}

#logo {
  font-family: 'Aleo';
  color: rgb(255, 255, 255);
  margin-left: 10%;
  margin-top:10px;
}
#nav-logout{
  position: relative;
  width: 10%;
  background-color: #5682db ;
  color: white;
  margin-right: 5%;
  margin-top: -2%;
  padding: 14px 25px;
  border: none;
  border-radius: 4px;
  float: right;
}

#nav-logout:hover {
  background-color: #304b82;
}