body{
    margin-left: 20px;
    margin-top: 25px;
      background-color: #ddeef0
}
  
.user_home_header {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: rgb(55, 119, 216);
    margin-bottom: 100px;
    left: 0px;
    color: white;
  }

  #logo {
    font-family: 'Aleo';
    color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-top: 1%;
    display: inline-block;
  }

    .sign_btns {
      float: right;
      height: 100%;
      margin-right: 0.5%;
    }

    .sign_btns span{
      background-color: rgba(75, 75, 75, 0.329);
      float: left;
      border: none;
      color: white;
      cursor: pointer;
      margin-top: 10%;
      top: 0px;
    }
  
    #sign_btn {
      background-color: rgba(75, 75, 75, 0.329);
      float: left;
      border: none;
      color: white;
      padding: 10px 24px;
      cursor: pointer;
    }

    #sign_btn:hover {
        background-color: rgb(130, 121, 255);
    }

.motto {
    margin-top: 10%;
    width: 100%;
    height: 30%;
}

.motto h1 {
    font-size: 70px;
    text-align: center;
}

.motto h2 {
    font-size: 32px;
    text-align: center;
}

.search {
    width: 80%;
    height: 50px;
    float: right;
    margin-right: 5%;
}

.search input[type=text] {
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 30px;
    margin-right: 5%;
    margin-left: 5%;
}

.search input[type=text]:focus {
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 30px;
    margin-right: 5%;
    margin-left: 5%;
}

.search input[type=submit] {
    width: 10%;
    height: 100%;
    border: none;
    border-radius: 30px;
    background-color: rgb(55, 119, 216);
    color: white;
}

.search input[type=submit]:hover {
    background-color: rgb(15, 68, 146);
}

.search input[type=submit]:focus, .search input[type=submit]:active {
    background-color: rgb(15, 68, 146);
    border: none;
}

.dropbtn {
    background-color: rgba(131, 131, 131, 0);
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff7b7b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgba(122, 122, 122, 0.171);}

  .dropdown:hover .dropdown-content {display: block;}

