// Place all the styles related to the Ingredient controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.action{
  color: gray;
  text-decoration: none;
}

.action:hover{
  color: #83aae5;
}

.listTable{
  text-align: center;
}

.saveAction:hover{
  color: gray;
}
