.action{
  color: black;
  text-decoration: none;
}

.action:hover{
  color: #467fd7;
}

.listTable{
  text-align: center;
  background-color: #83aae5;
}

.saveAction:hover{
  color: #467fd7;
}

.saveAction{
  background-color: #f2f5f7;
  border: 1px solid #c6c6c6;
}

.iconH1{
  width: 25px;
}

.iconLil{
  width: 15px;
}

.tableIndex{
  margin-left: 5%;
  width: 90%;
}

.thTable{
  background-color: #467fd7;
}

.head{
  margin-left: 20%;
}

.headWord{
  color: white;
}

.tableAction{
  background-color: lightgray;
  width: 15%;
  text-align: center;
}
