.back_btn {
  background-color: white;
  color: white;
  border: none;
  padding: 1% 5% 1% 5%;
  border-radius: 6px;
  text-decoration: none;
  font-family: Sofia;
  display: inline-block;
  color: black;
  margin: 1%;
}

.open-button {
  background-color: #da7b93;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 28px;
  border-radius: 10%;
  width: 120px;
  text-align: right;
  z-index: 1;
}

.open-button:hover {
  background-color: rgb(255, 200, 200);
  letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.2s ease 0s;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  top: 75px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  border-radius: 5%;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #FF9999;
  border-radius: 5%;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 80%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  display: inline;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: white;
  outline: none;

}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #FF9999;
  color: white;
  border: none;
  padding: 1% 5% 1% 5%;
  border-radius: 6px;
  text-decoration: none;
  font-family: Sofia;
  font-size: 15px;
  display: inline-block;
}

.form-container input[type=submit] {
  background-color: #FF9999;
  color: white;
  border: none;
  padding: 1% 5% 1% 5%;
  border-radius: 6px;
  text-decoration: none;
  font-family: Sofia;
  font-size: 15px;
  display: inline-block;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.imgPro {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10%;
  top: 20%;
}
.logout_btn {
  background-color: #FF9999;
  color: white;
  border: none;
  padding: 1% 5% 1% 5%;
  border-radius: 6px;
  text-decoration: none;
  font-family: Sofia;
  font-size: 15px;
  display: inline-flex;
}