
.ingredients {
    margin-top: 10%;
    margin-left: 15%;
    width: 100%;
    
}

.ingredients input[type=submit] {
    float: right;
    background-color: rgba(255, 146, 96, 0.808);
    border: none;
    width: 15%;
    height: 50%;
    padding: 20px;
    margin-right: 180px;
}

  .cat_btn img{
    background-color: rgba(131, 131, 131, 0);
    border: none;
    width: 10%;
    height: 10%;
    margin: 16px;
  }
  
  .category {
    position: relative;
    display: inline;
    margin-right: 5%;
  }
  #ingre-txt{
    position: absolute;
    display: inline;  
    margin-left: 7%;
    margin-top: 20%;

  }
  .content {
    margin-top: 200px;
    margin-left: -140px;
    width: 30%;
    display: inline-block;
    position: absolute;
    
    background-color: #4b90be;
    padding: 10px;
  }