body {
    font-family: "Aleo";
    background-color: #ffe8d7;
    font-size: 20px;
}

.list {
    border-collapse: collapse;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 10px;
}

.list td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.list tr:nth-child(even){
    background-color: #e0e7ff;
}

.list tr:hover {
    background-color: rgb(192, 206, 253);
}

.list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5682db;
    color: white;
  }

.btn {
    height: 35px;
    width: 150px;
    background-color: #5682db;
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    margin-left: 0%;
}

#error_explanation {
    font-size: 20px;
    left: 10%;
}

.inputs {
    border-radius: 10px;
    height: 30px;
    width: 250px;
    border: none;
}

#labels {
    text-align: center;
}

#form {
    left: 50%;
    border-color: rgb(178, 178, 255);
}

.submit {
    height: 35px;
    width: 150px;
    background-color: #5682db;
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
    margin-left: 45%;
    border: none;
    font-size: 17px;
}

.image {
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sbtn {
    height: 50px;
    width: 200px;
    background-color: #5682db;
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
}
.grid-container {
    margin-top: 20%;
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }