<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="header">
  <h1 id="logo">RECIDENT</h1>
</div>

<div class="menu">
<div class="ub"><a class="userBtn" href="http://localhost:3000/admin/user">Users</a></div>
<div class="cb"><a class="categoryBtn" href="http://localhost:3000/admin/rec_category">Categories</a></div>
<div class="ib"><a class="ingredientBtn" href="http://localhost:3000/admin/ingredient">Ingredients</a></div>
<div class="rb"><a class="recipeBtn" href="http://localhost:3000/admin/recipe">Recipes</a></div>
</div>
